<!-- partial:partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">

        <li class="nav-item">
            <a class="nav-link" href="/Home/Index">
                <i class="menu-icon"></i>
                <span class="menu-title">Trang BestShoes</span>
            </a>
        </li>
        <div class="cont">
            <div class="dropdown">
                <button value="laptrinh" class="dropbtn">Danh Mục</button>
                <div id="laptrinh" class="dropdown-content">
                    <a href="/LoaiGiay/Index">Loại Giày</a>
                    <a href="/ThuongHieu/Index">Thương Hiệu</a>
                    <a href="/Mau/Index">Màu</a>
                    <a href="/Size/Index">Size</a>
                </div>
            </div>
        </div>

        <li class="nav-item">
            <a class="nav-link" href="/SanPham/Index">
                <i class="menu-icon"></i>
                <span class="menu-title">Sản Phẩm</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/TaiKhoan_/Index">
                <i class="menu-icon fa fa-user-o"></i>
                <span class="menu-title">Tài Khoản</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/DonHangs/Index">
                <i class="menu-icon"></i>
                <span class="menu-title">Đơn Hàng</span>
            </a>
        </li>

    </ul>
</nav>

