<div class="modal-content">
    <form action="#">
        <span class="close">&times;</span>
        <h2>Form đăng nhập</h2>
        <div class="fomrgroup">
            <b>UserName:</b>
            <input type="text" name="username">
        </div>
        <div class="fomrgroup">
            <b>PassWord:</b>
            <input type="passWord" name="passWord">
        </div>
        <div class="fomrgroup">
            <button>Đăng nhập</button>
        </div>
    </form>
</div>
