
    <div class="tabbed-right">
        <h2>Chỉ có tại BestShoes</h2>

        <li class="sidebar-1"><img src="~/Content/images/icon_1.png"><p>Yên tâm mua sắm</p></li>
        <p class="p-side">BestShoes đảm bảo giao dịch, hỗ trợ khiếu nại, đổi trả xuyên quốc gia dễ dàng, bảo vệ người mua</p>

        <li class="sidebar-1"><img src="~/Content/images/icon_2.png"><p>Không lo thủ tục</p></li>
        <p class="p-side">Người bán chuyển hàng, hoàn tất thủ tục nhập khẩu, giao hàng tận tay</p>

        <li class="sidebar-1"><img src="~/Content/images/icon_3.png"><p>Tận hưởng giá shock toàn cầu</p></li>
        <p class="p-side">Liên tục cập nhật khuyến mãi trên toàn thế giới, tham gia sự kiện Black Friday, Cyber Monday,...</p>

        <li class="sidebar-1"><img src="~/Content/images/icon_4.png"><p>Thêm tiết kiệm, hưởng ưu đãi</p></li>
        <p class="p-side">Tích lũy điểm thưởng, mã giảm giá. Miễn phí giao hàng toàn quốc</p>

        <li class="sidebar-1"><img src="~/Content/images/icon_5.png"><p>Hệ thống thông minh</p></li>
        <p class="p-side">Gợi ý mua sắm ở đâu, khi nào. Công cụ săn giảm giá xuyên quốc gia 24/7</p>
    </div>
