
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div id="content-ct">

        <!-- Tabs -->
        <!-- <div class="tabs">
        <ul>
            <li><a href="#" class="active"><span>Safety Shoes</span></a></li>
            <li><a href="#"><span>Sport Shoes</span></a></li>
            <li><a href="#" class="red"><span>More Shoes</span></a></li>
        </ul>
    </div> -->
        <!-- Tabs -->
        <!-- Container -->
        <div id="container-ct">

            <div class="tabbed-left-contact">
                <h2>Giới thiệu</h2>
                <div class="detail-contact">
                    <p>Được thành lập năm 2019, BestShoes tự hào là đơn vị dẫn đầu trong việc phục vụ và thỏa mãn khách hàng trong việc mua sắm, hỗ trợ tư vấn khách hàng 24/7, mua sắm dễ dàng, đổi trả miễn phí, chế độ bảo hành độc quyền chỉ có tại Bestshoes, đội ngũ nhân viên đông đảo, nhân viên tư vấn nhiệt tình, bộ phận điều hành đầy trách nhiệm và tài năng.</p>

                </div>

                <div class="co-founder">
                    <div class="co"><img src="~/Content/images/steve-jobs.jpg"><p>Steve Jobs</p><p style="font-weight: bold;">Co-Founder</p></div>
                    <div class="co"><img src="~/Content/images/bill-gates.jpg"><p>Bill Gates</p><p style="font-weight: bold;">Co-Founder Manager</p></div>
                    <div class="co"><img src="~/Content/images/jack-ma.jpg"><p>Jack Ma</p><p style="font-weight: bold;">Co-Founder CEO</p></div>
                </div>
            </div>

            @RenderPage("~/Views/Shared/Slogan.cshtml")

        </div>
        <!-- End Content -->

    </div>

