
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div id="content-ct">

        <div id="container-ct">

            <div class="tabbed-left-contact">
                <h2>Liên hệ</h2>
                <div class="detail-contact">
                    <p>BestShoes Shop</p>
                    <p>Địa chỉ : 236 Hoàng Quốc Việt, Cầu Giấy, Hà Nội.</p>
                    <p>Điện thoại : 0987.654.321 - 0123.456.789</p>
                    <p>Email : hotro.bestshoes@gmail.com</p>
                </div>

                <div class="bando">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.6769629461355!2d105.78601318958269!3d21.045607726751896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab3240fb4b67%3A0x66e281bac2a85bee!2zMjM2IEhvw6BuZyBRdeG7kWMgVmnhu4d0LCBD4buVIE5odeG6vywgVOG7qyBMacOqbSwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1557727225870!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>

            @RenderPage("~/Views/Shared/Slogan.cshtml")

        </div>
        <!-- End Content -->

    </div>

